/*Color*/
.container-form{
    display: flex;
    flex-direction: column;    
}

.container-form > input,textarea{
    margin-top: 8px;
}

.container-form > textarea {
    height: 100px;
}

.button {
    padding: 5px 0px 5px 0px;
    background-color: #0E7CC9;
    border: 0px ;
    border-radius: 5px;
}

.button:hover{
    background-color: #47A6E3
}