
.container{
    display: flex;
    flex-direction: row;
}

.container-card {
    flex-grow: 2;
    margin: 0px;
    padding: 0px;   
    border: solid 1px; 
}

.container-tittle{
    margin: 0px;
    padding: 5px;
    background-color: gainsboro;
}

.container-description{
    margin: 0px;
    padding: 5px;
      
}
