
.container{
    display: flex;
    flex-direction: row;
    
}

.container-card {
    flex-grow: 1;
    margin: 0px;
    padding: 0px;   
    border: solid 1px; 
    border-radius: 5px;
}

.container-tittle{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding-left: 15px;
    background-color: gainsboro;
    border-radius: 5px 10px 0px 0px;
}

.container-description{
    font-size: small;
    margin: 0px;
    padding-left: 10px;
    height: 100px;     
    overflow-y: scroll;
}

.tittle{
    margin: 5px 0px 5px 0px;
    flex-grow: 1;
}

.description{
    margin: 5px;
}

.icon {
    width: 20px;
    height: 20px; 
    margin: 3px;
}
