.App {
 display: flex;
 flex-direction: column;
 align-items: center;
 
}
.container-app{
  width: 400px;
}

.Tittle-App{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0px 8px 0px;
}

.Tittle-List{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0px 8px 0px;
}





